%h2 確認メールを送信

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource

  .form-group
    = f.label :email, "メールアドレス"
    = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
  .actions.send_btn
    = f.submit "確認メールを送信", class: "btn btn-primary"

%hr

= render "users/shared/links"
