.sns_btn
  = link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@admin_review.title}", class: 'twitter', title: 'Twitter', target: '_blank'
  = link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@admin_review.title}", class: 'facebook', title: 'Facebook', target: '_blank'
  = link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}&text=#{@admin_review.title}", class: 'line', title: 'LINE', target: '_blank'
