= render partial: "shops/breadcrumb", locals: {shop: @shop}

= render partial: "shops/sns", locals: {shop: @shop}

.row
  .col-8
    / メインコンテンツ
    = render "shops/head", shop: @shop

    .body
      .owner_images
        #carouselExampleFade.carousel.slide.carousel-fade{ data: { ride: "carousel" } }
          %ol.carousel-indicators
            - @shop.shop_photos.count.times do |i|
              - if i == 0 
                %li.carouselExampleIndicators{"data-slide-to": i, class: "active" }
              - else
                %li.carouselExampleIndicators{"data-slide-to": i }
          .carousel-inner
            - main = @shop.shop_photos.find { |photo| photo.photo_type == "main" }
            - if main.present?
              .carousel-item.active= image_tag main.filename.url, width: "660", height: "370"
            - @shop.shop_photos.each do |shop_photo|
              - if shop_photo.photo_type == "sub"
                .carousel-item= image_tag shop_photo.filename.url, width: "660", height: "370"
          = "<a class=\"carousel-control-prev\" href=\"#carouselExampleFade\" role=\"button\" data-slide=\"prev\"><span class=\"carousel-control-prev-icon\" aria-hidden=\"true\"></span><span class=\"sr-only\">Previous</span></a>".html_safe
          ="<a class=\"carousel-control-next\" href=\"#carouselExampleFade\" role=\"button\" data-slide=\"next\"><span class=\"carousel-control-next-icon\" aria-hidden=\"true\"></span><span class=\"sr-only\">Next</span></a>".html_safe
      %h2.headline= @shop.headline
      %p.description= @shop.description

    -# 写真一覧
    %h3 投稿写真
    - if @shop.total_photo_count > 0
      %ul.photos
        - @shop.total_photos.limit(Shop::SHOW_PHOTO_NUM).each do |photo|
          %li.photo
            .image= image_tag photo.filename.thumb.url, alt: photo.comment
            .comment= photo.comment
      - if @shop.total_photo_count > Shop::SHOW_PHOTO_NUM
        全ての写真を見る

    %br
    -# 口コミ一覧
    %h3 口コミ
    .review_header
      - if user_signed_in?
        .post_review
          = link_to new_shop_shop_review_path(shop_id: @shop.id), class: "btn btn-warning" do
            %i.material-icons feedback
            投稿する
    - if @shop.shop_reviews.count > 0
      %ul.reviews
        - @shop.shop_reviews.order(created_at: :desc).limit(Shop::SHOW_REVIEW_NUM).each do |review|
          %li.review
            .user
              %span.name= "投稿者:#{review.user.nick_name}"
              %span.count= "(#{review.user.shop_reviews.count}件)"
            %h4.item_name= review.item_name
            %p.description= review.description
            .footer
              .purchased_at= "購入日時:#{l(review.purchased_at, format: :date)}"
              .total_eval= "評価+#{review.eval_value_count}P"
              .like= "いいね#{review.shop_review_likes.count}件"
    = link_to "全ての口コミを見る", shop_shop_reviews_path(shop_id: @shop.id)
    %br
    -# 店舗情報
    = render "shops/shopinfo", shop: @shop

  .col-4

    = render "sidebar", {shop: @shop}

%hr

= render "layouts/back"
