%h2 ログイン

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email, "メールアドレス"
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .form-group
    = f.label :password, "パスワード"
    = f.password_field :password, autocomplete: "current-password", class: "form-control"
  - if devise_mapping.rememberable?
    .form-group
      = f.check_box :remember_me
      = f.label :remember_me, "パスワードを記憶する"
  .actions.send_btn
    = f.submit "ログイン", class: "btn btn-primary"

%hr

= render "users/shared/links"
