= render partial: "shops/breadcrumb", locals: {shop: @shop}

= render partial: "shops/sns", locals: {shop: @shop}

.row
  .col-8
    / メインコンテンツ
    = render "shops/head", shop: @shop

    .shop_reviews
      %ul
        - @shop_reviews.each do |shop_review|
          %li.shop_review.card
            .card-body
              %h4.item_name= shop_review.item_name
              %p= shop_review.description.truncate(255, omission: '...')
              .more= link_to "続きを読む", shop_shop_review_path(shop_id: @shop.id, id: shop_review.id)
              %ul.photos
                - shop_review.shop_review_photos.each do |photo|
                  %li.photo= image_tag photo.filename.thumb.url, alt: photo.comment.truncate(30), width: 150
            .card-footer
              .created_at= "投稿日時：#{l(shop_review.created_at, format: :long)}"
      %br
      = will_paginate @shop_reviews, renderer: BootstrapPaginationHelper::LinkRenderer, :previous_label => '&laquo;', :next_label => '&raquo;'

  .col-4

    = render "shops/sidebar", {shop: @shop}

%hr

= render "layouts/back"
