%h1 お問い合わせフォーム
%p 内容に間違いなどないかご確認ください

= form_for @contact do |f|
  .form-group
    = f.label :name, "お名前"
    = f.object.name
    = f.hidden_field :name, value: f.object.name
  .form-group
    = f.label :email, "メールアドレス"
    = f.object.email
    = f.hidden_field :email, value: f.object.email
  .form-group
    = f.label :message, "お問い合わせ内容"
    = f.object.message.gsub(/\R/, "<br>").html_safe
    = f.hidden_field :message, value: f.object.message
  .send_btn
    = f.submit "送　信", class: "btn btn-primary"
    = "　"
    = f.submit "戻　る", name: 'back', class: "btn btn-primary"
