%footer.footer
  .container
    .footer_nav
      %ul.breadcrumb
        %li.breadcrumb-item= link_to "運営者について", static_page_manage_path
        %li.breadcrumb-item= link_to "ご利用ガイド", static_page_rule_path
        %li.breadcrumb-item= link_to "ヘルプ", static_page_help_path
        %li.breadcrumb-item= link_to "一般お問い合わせ", contacts_path
        %li.breadcrumb-item= link_to "店舗お問い合わせ", shop_contacts_path
      %ul.breadcrumb
        - if owner_signed_in?
          %li.breadcrumb-item= link_to "オーナー会員マイページ", owners_show_owner_path(id: current_owner["id"])
          %li.breadcrumb-item= link_to 'オーナー会員プロフィール変更', edit_owner_registration_path
          %li.breadcrumb-item= link_to 'ショップ管理', owners_owner_shops_path
          %li.breadcrumb-item= link_to "オーナー会員ログアウト", destroy_owner_session_path, method: :delete
        - else
          %li.breadcrumb-item= link_to "オーナー会員登録", new_owner_registration_path
          %li.breadcrumb-item= link_to "オーナー会員ログイン", new_owner_session_path
    .logo= link_to "SHOPPY!?", root_path
    %p.copyright Copyright 2019- 株式会社ドリル All Rights Reserved.
