%footer.footer
  .container
    %ul.breadcrumb
      %li.breadcrumb-item= link_to "トップページ", root_path
      %li.breadcrumb-item= link_to "運営者について", static_page_owner_path
      %li.breadcrumb-item= link_to "このMySHOPについて", static_page_about_path
      %li.breadcrumb-item= link_to "ご利用ガイド", static_page_rule_path
      %li.breadcrumb-item= link_to "ヘルプ", static_page_help_path
      %li.breadcrumb-item= link_to "一般のお問い合わせ", contacts_path
      %li.breadcrumb-item= link_to "店舗様のお問い合わせ", shop_contacts_path
    %p.copyright Copyright 2019- 株式会社ドリル All Rights Reserved.
