%header.header
  .container
    #logo= link_to "SHOPPY!?", root_path
    %ul#nav
      %li= link_to "SHOPPY!?の便利な使い方", static_page_about_path
      - if user_signed_in?
        %li= link_to "マイページ", users_show_user_path(id: current_user.id)
        %li= link_to 'プロフィール変更', edit_user_registration_path
        %li= link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li= link_to "会員登録", new_user_registration_path
        %li= link_to "ログイン", new_user_session_path

