<!DOCTYPE html>
<html>
  <head>
    <title>人とショップのマッチングサイト「MySHOP」</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :header_script %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container">
      <%= render "layouts/search" %>
    </div>

    <div class="container">
      <% if flash[:notice].present? %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice.html_safe %>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert.html_safe %>
        </div>
      <% end %>
    </div>

    <div class="contents">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
