%h2 プロフィールの編集

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource

  .form-group
    = f.label :email, "メールアドレス"
    = f.email_field :email, readonly: true, autofocus: true, autocomplete: "email", class: "form-control"

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      現在確認待ち:
      = resource.unconfirmed_email

  .form-group
    = f.label :nick_name, "ニックネーム"
    = f.text_field :nick_name, class: "form-control"

  .form-group
    = f.label :introduction, "自己紹介"
    = f.text_area :introduction, rows: "5" , class: "form-control"

  .form-group
    = f.label :password, "パスワード"
    %small
      (変更の場合だけ入力してください /
      = "#{@minimum_password_length} 文字以上"
      )
    %br
    = f.password_field :password, autocomplete: "new-password", class: "form-control"
  .form-group
    = f.label :password_confirmation, "確認用パスワード"
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
  .form-group
    = f.label :current_password, "現在のパスワード"
    %small (変更には現在のパスワードが必要です)
    %br
    = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
  .actions.send_btn
    = f.submit "更　新", class: "btn btn-primary"

%hr

= render "layouts/back"
